
/*MENU PRINCIPAL*/

   ul .nav-item{ /*caja del menu*/
    text-align: center;
    background-color: rgb(247, 247, 235);
    margin-top: 50px;
    }
  
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ffde83 !important; /*color del cuadrado del menu*/
    }
    .nav-link {
        color: black !important; /*ccolor de las letras del menu*/
    }

/*carouser de 3*/
   .row.menup{
    background-color: rgb(255, 235, 205);
    }

/* CAJA DE 4 COLUMNAS CON CONTENIDO*/

.col-3 h3{
    font-size: 50px;
    color:rgb(35, 36, 38)
    }

/*DIFERENTES VIAJES A EUROPA*/

    div.container.text-center{
    background-color: rgb(255, 255, 255);
    color: rgb(65, 62, 62);
    font-weight: bold;
    }

    div.container.text-center.columna4{
        background-color: rgb(254, 248, 248);
        border: 1px solid black;
    }


    .viajes{ 
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    text-align: center;
    font-family: fantasy;
     }

 
     div.container.text-center.columna4 i{
        color: rgb(234, 160, 32);
        font-size: 40px;
    }

    .row.viajesA{
    margin:80px
    }


/*CAJA 2  TARJETAS DE SURF Y BUCEO*/

 .Actividades{ /*titulo*/
        text-align:center;
        background-color: blanchedalmond;
        font-family: fantasy;
        }
        div.container.text-center {
            background-color:rgb(247 247 235)
        }
        
        div.container.text-center.ActividadesA{
        background-color: rgb(225, 228, 189);
        }


        .ActividadesA img{
        width: 500px;
        height: 300px;

        }
    
        .ActividadesA p{
        color: rgb(36, 33, 33);
        font-size: 15px;
        font-family: Times New Roman;
        }
    
        p.card-text{
        font-family:serif;
        color: rgb(100, 103, 100);
        }

        div.container.text-center.columna4 p {
        color: #837e7e;
        }

        h5.card-title {
        color: rgb(208, 162, 48);
        }

        a.btn-primary{ /*botón de la tarjeta*/
        background-color: rgb(237, 237, 192);
        color: black;
         }


/** NOSOTROS*/

    .nosotros{
    text-align:center;
    background-color: blanchedalmond;
    font-family: fantasy;
    color: black ;
    }
    
    div.col{ /*relleno del contendor de nosotros*/
        padding: 30px 30px;
    }

    .personal img{/*imagenes de nosotros*/
    width: 300px;
    height:300px;
    border-radius: 100px 80px; 
    }

    div.nosotros1 h2{
        color: rgb(214, 175, 84);
    }
    
div.nosotros1 p{
    color: rgb(31, 31, 31);
}



/*LOS ESTILOS DEL FORMULARIO*/


    .contacto{ /*título del formulario*/
    text-align:center;
    background-color: blanchedalmond;
    font-family: fantasy;
    }

    form.miformulario{ /*caja deñ fprmulario*/
    width: 40%;
    padding: 3%;
    border-radius: 10px ;
    margin: auto;
    background-color: rgb(244, 244, 208);
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid black;
    }

/*caja de los datos de nombre, telefono y email*/

.datosP{ 
background-color: rgb(109, 109, 109);
padding: 30px 20px;
border: 1px solid black;
}
    
/*caja de carnet de conducir*/

.est1 legend{ 
font-family: fantasy;
}
.est1{
border: 1px solid black;
    padding:20px 15px ;
    color: black;
}

.est2{
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: black;
}

.est2 legend{
    font-family: fantasy;
    color: black;
}
.est3 label{
    font-family: fantasy;
    color: black;

}
/*estilos del footer y las redes sociales*/

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    footer{
    background-color: black;
    margin-bottom:20px;
    }

    .footer1{
    width: 100%;
    padding: 70px 30px 20px;
    height: 400px;
  
    }

/*Redes sociales del  footer*/
 
.redes-social{
display:flex;
justify-content: center;
}

.redes-social a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.redes-social a i{
    font-size:20px ;
    color:black;
    opacity:0.9 ;

}
.redes-social a:hover{
  background-color:rgb(198, 193, 193) ;  
  transition: 0.5s;

}
.redes-social a:hover i{
    color:white !important;
    transition: 0.5s;
}
.menufooter ul {
  display: flex;
  justify-content:center ;
    
}
.menufooter ul li a{
    color: white;
    margin:20px;
    text-decoration: none;
    font-size:1.3em ;
    opacity:0.7;
    transition: 0.5s;
}
.menufooter ul li a:hover{
    opacity:1;
}
.footer2{
    background-color: rgb(41, 39, 39);
    padding: 20px;
    text-align: center;}
    
    .diseñado{
     opacity:0.7;
     text-transform:uppercase ;
     letter-spacing:1px ;
     font-weight: 400;
     margin: 0px 5px;
        }

/*fondo de la página*/

body{
    background-color: rgb(247, 247, 235) !important;
}