
/*menú principapl*/
ul .nav-item{
    text-align: center;
    background-color: rgb(247, 247, 235);
    margin-top: 50px;
}
.row.viajesA h3{
    color:black
}

/*carouser*/
.row.menup{
    background-color: rgb(255, 235, 205);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ffde83 !important;
}
.nav-link {
    color: black !important;
}

div.container.text-center{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
div.container.text-center h2{
    font-size: 20px;
    color: rgb(5, 15, 33);
    text-decoration: underline;
    font-family: cursive;
}




.viajes {
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    text-align: center;
    font-family: fantasy;

}

/*bloque 2 columnas */






.col-3 h3{
    font-size: 20px;
    color:rgb(35, 36, 38)}


    div.container.text-center.columna4{
        background-color: rgb(254, 248, 248);
        border: 1px solid black;
    }
    div.container.text-center.columna4 p{
        color: black;
    }
    div.container.text-center.columna4 i{
        color: red;
        font-size: 30px;
    }
/*aCTIVIDADES*/
 .Actividades{
        text-align:center;
        background-color: blanchedalmond;
        font-family: fantasy;
        }
    

    div.container.text-center.ActividadesA{
        background-color: rgb(225, 228, 189);
    }
    .ActividadesA img{
        width: 500px;
        height: 300px;

    }
    .ActividadesA p{
        color: rgb(36, 33, 33);
        font-size: 15px;
        font-family: Times New Roman;
    }
    p.card-text{
        font-family: ;
    }
/** NOSOTROS*/
.nosotros{
    text-align:center;
    background-color: blanchedalmond;
    font-family: fantasy;
    }

.personal img{
    width: 300px;
    height:300px;
    border-radius: 100px 80px;
}
div.nosotros1{
    background-color: white;
}
div.nosotros1 p{
    color: black;
}

.contacto{
    text-align:center;
    background-color: blanchedalmond;
    font-family: fantasy;
}

/*LOS ESTILOS DEL FORMULARIO*/

form.miformulario{
    width: 40%;
    padding: 3%;
    border-radius: 10px ;
    margin: auto;
    background-color: rgb(244, 244, 208);
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid black;
    
}
/*caja de los datos de nombre, telefono y email*/
.datosP{ 

background-color: rgb(109, 109, 109);
padding: 30px 20px;
border: 1px solid black;
}
    
/*caja de carnet de conducir*/
.est1 legend{ 
font-family: fantasy;
}
.est1{
border: 1px solid black;
    padding:20px 15px ;
    color: black;
}

.est2{
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: black;
}

.est2 legend{
    font-family: fantasy;
    color: black;
}
.est3 label{
    font-family: fantasy;
    color: black;

}
/*estilos del footer y las redes sociales*/

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    margin-bottom:20px;

}
.footer1{
    width: 100%;
    padding: 70px 30px 20px;
    height: 400px;
  ;
}
.redes-social{
display:flex;
justify-content: center;
}

.redes-social a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.redes-social a i{
    font-size:20px ;
    color:black;
    opacity:0.9 ;

}
.redes-social a:hover{
  background-color:rgb(198, 193, 193) ;  
  transition: 0.5s;

}
.redes-social a:hover i{
    color:white !important;
    transition: 0.5s;
}
.menufooter ul {
  display: flex;
  justify-content:center ;
    
}
.menufooter ul li a{
    color: white;
    margin:20px;
    text-decoration: none;
    font-size:1.3em ;
    opacity:0.7;
    transition: 0.5s;
}
.menufooter ul li a:hover{
    opacity:1;
}
.footer2{
    background-color: rgb(41, 39, 39);
    padding: 20px;
    text-align: center;}
    
    .diseñado{
     opacity:0.7;
     text-transform:uppercase ;
     letter-spacing:1px ;
     font-weight: 400;
     margin: 0px 5px;
        }


body{
    background-color: rgb(247, 247, 235) !important;
}